[Unit]
Description=Sky Avatar Webserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/sky/github/avatar/src/
User=sky
ExecStart=/home/sky/github/avatar/src/run.sh

[Install]
WantedBy=multi-user.target